@charset "utf-8";
a { text-decoration: none;}
h3{ color: red;}

#wrapper {
	text-align: center;
}

.fadeBtn {
	display: inline-block;
	overflow: hidden;
	width: 200px;
	height: 70px;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
	background: #ddd;
	border: #fff 2px solid;
	border-radius: 5px;
	box-shadow: 0 0 3px #555;
}

