@charset "utf-8";
a{ text-decoration: underline; color: red;}
a:hover { text-decoration: none;}

#wrapper{
	margin: 0 auto;
	padding: 30px 0;
	width: 800px;
}

p {
	padding-bottom: 2em;
	font-size: 1em;
	line-height: 1.8em;
	text-align:justify;
}

/* ------------------------------
   CHAPTER ELEMENTS
------------------------------ */
.ttpShow {
	display: none;
}

#ttpPanel {
	padding: 15px;
	width: 200px;
	text-align: left;
	display: none;
	background: #fff;
	border: #ccc 3px solid;
	position: absolute;
	z-index: 99;
}
